<div [style]="productDetailConfig.layouts">
    @for (config of productDetailConfig.components; track $index) {
            @switch (config) {
                @case ('image') {
                        <app-product-image></app-product-image>
                }
                @case ('description') {
                        <app-product-description></app-product-description>
                }
                @case ('ingredients') {
                        <mat-divider role="separator"></mat-divider>
                        <app-product-ingredients></app-product-ingredients>
                }
                @case ('instructions') {
                        <mat-divider role="separator"></mat-divider>
                        <app-product-instructions></app-product-instructions>
                }
                @case ('tags') {
                        <app-product-tags></app-product-tags>
                }
                @default { <p>Unknown Fruit.</p> }

            }
    }
</div>
