<mat-card role="group" class="{{generalConfig.exampleCard}}">
    <img mat-card-image role="img"  src="{{productData.strDrinkThumb}}" width="250" height="200"/>

    <mat-card-content role="contentinfo" class="{{generalConfig.exampleCardContent}}">
        <h4>
        {{ productData.strDrink}}
        </h4>
    </mat-card-content>
    <mat-card-actions role="group" class="{{generalConfig.exampleCardAction}}">
        <a class="button" role="button" mat-stroked-button color="{{generalConfig.button}}" [routerLink]="['/product-details', productData.idDrink]"
           >
                More Info
        </a>
      </mat-card-actions>
</mat-card>
